--color0: {color0};
--color1: {color1};
--color2: #{color2.darken(50%)};
--color3: {color3};
--color4: #{color4.darken(70%)};
--color5: #{color5.darken(50%)};
--color6: {color6};
--color7: {color7};
--color8: #{color8.darken(70%)};
--color9: {color9};
--color10: {color10};
--color11: {color11};
--color12: {color12};
--color13: {color13};
--color14: {color14};
--color15: {color15};
